* {
    margin: 0;
}

#app {
    display: flex;
    width: 100%;
}

section {
    flex: 1 0 auto;
}

section:last-child {
    margin: 1em;
}

.city {
    background-size: cover;
    background-position: center;
    padding: 1em;
    margin: 1em;
}

#sthlm {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/8/81/Gamla_stan%2C_S%C3%B6dermalm%2C_Stockholm%2C_Sweden_-_panoramio_cropped.jpg");
}

#got {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/8/8b/Tuveraset_GNM7033-002.jpg");
}

.city h1 {
    text-shadow: 1px 1px 2px white, -1px -1px 2px white, -1px 1px 2px white, 1px -1px 2px white;
}

.person::before {
    content: "\263B";
    color: white;
    font-size: 1.65em;
}

.person em {
    font-size: 0.8em;
}

.house {
    background: orange;
    display: inline-block;
    height: 100px;
    margin-left: 20px;
    margin-top: 55px;
    position: relative;
    width: 100px;
}

.house:before {
    border-bottom: 35px solid orange;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    content: "";
    height: 0;
    left: 0;
    position: absolute;
    top: -35px;
    width: 0;
}